<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.nextdoor.rollbar">

	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>


    <Appenders>
    
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5p] [%c{1}] [%M %L] %m%n" />
        </Console>

		<NoeticRollbar name="Rollbar">
			<accessToken>eec410e15c724f1c9d9120d5497e3b6a</accessToken>
			<environment>test</environment>
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
		</NoeticRollbar>        
        
    </Appenders>
    
    
    <Loggers>

		<Logger name="com.amazon.sqs" level="WARN" additivity="false"/>

        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="Rollbar"/>
        </Root>
    </Loggers>
    
</Configuration>